$bp-tablet: 991px;
$blue: #5B92E5;
$dark-blue: #4d7bc1;
$yellow: #ffcc29;


body {
    background: #fff;
    background: url(/assets/img/other/popbg.jpg);
    background-size: cover;
    padding-top: 0;
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #fff url(/assets/img/other/back-to-top.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $blue;
    border-radius: 50%;
    transition: .3s;
    z-index: 999;

    &:hover {
        transform: translateY(-5px);
    }
}

[href]:focus, [tabindex]:focus, iframe:focus, input:focus, button:focus {
    background-color: unset !important;
    box-shadow: unset !important;
}

.navbar-brand {
    display: block;
    width: 75%;
    max-width: 310px;
}

header .container {
    padding-top: 10px;

    .supp-by {
        height: 110px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @media (max-width: 991px) {
            height: unset;
            position: absolute;
            top: 76px;
            right: 10px;
            font-size: 12px;
        }

        img {
            padding-left: 10px;

            @media (max-width: 991px) {
                max-width: 70px;
                padding-left: 8px;
            }
        }
    }
}

.layout-frontpage  #main-content{
    height: 69vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.goal-banner {
    background: transparent !important;
}

#main-content {

    background: transparent !important;

    h1 {
        font-size: 70px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 65px;
    }

    .btn-download {
        background: $blue !important;
    }

    .goal-tiles {

        margin-bottom: 150px;
        .no-gutters {

            &:first-child {
                margin-bottom: 40px;
            }

            img {
                transition: all 150ms ease-in-out;
                box-shadow: unset !important;
                max-width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            img:hover {
                -webkit-transform: translate(0, -4px);
                transform: translate(0, -4px);
                -webkit-transition: all 150ms ease-in-out;
                -moz-transition: all 150ms ease-in-out;
                -ms-transition: all 150ms ease-in-out;
                -o-transition: all 150ms ease-in-out;
                transition: all 150ms ease-in-out;
            }
        }
    }

    #dataset-size-warning {
        background: red;
        color: #fff;
    }
}

.layout-search {
        #main-content {

            h1 {
                font-size: 36px !important;
            }

            button#search-bar-on-page-btn {
                background-color: $blue;
                border-color: $blue;
            }
    }
}


.breadcrumb {
    margin-top: 15px;
}

header {

    position: relative;

    &:before {
        content: "";
        background: #5b92e5;
        height: 80px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 32px;
        display: block;
    }
    
#main-nav {
    background: $blue;
    width: 100%;
    border-radius: 0;
    padding: 15px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    }
    
    .navbar-brand {
        display: block;
        max-width: 170px;

        &:focus {
            outline: unset !important;
            }
        }
    

    .navbar ul.navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: $yellow;
        }
    }

    .navbar ul.navbar-nav > li.active > a {
        border-bottom: 2px solid $yellow;
        color: $yellow;
 
    }

    ul#menu {
        width: 100%;
    }

    .menu-target {
        width: 585px;
        margin: 0 !important;
    }

    #search form {
        margin-top: 0;
    }

    .dropdown-toggle {
        background: $blue !important;
        color: #fff !important;
        text-transform: uppercase;
        
        &:hover {
            color: $yellow;
        }
    }

    #search-btn {
        background: #fff;
        color: $blue;
        border: unset;
    }

    #search input {
        border: unset;
        max-width: 200px;
    }

    .language-toggle-menu-header {
        position: absolute;
        right: 5px;
    }

    .language-toggle-dropdown:before {
        content: "";
        height: 50px;
        width: 2px;
        background: #ffffffad;
        position: absolute;
        left: -17px;
        top: -9px;
    }

}



.site-intro {
    background: unset;
    min-height: 140px;
    padding: 0;
}

a {
    text-decoration: none;
}

//main icons
.goal-tiles {

    p {
        position: absolute;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        color: #000;
    }

    img {
        background: transparent !important;
    }
}

.goal-banner {
    background-color: transparent;

    .row {
        background: $blue !important;
        display: flex;
        align-items: center;

        h1 {
            color: #fff;
            margin-top: 0;

            .lead-copy {
                display: inline;
            }
        }

        img {
            background: transparent !important;
            filter: brightness(0) invert(1);
        }
    }
}



.goal-tiles a:focus, .nav-link a:focus {
    background: unset !important;
    box-shadow: none !important;
    color: $yellow !important;
}

.goal-target {
    background: $blue;
    color: #fff !important;
    padding: 5px !important;
    border: unset !important;

    .indicator-card-number {
        border: unset !important;
        color: #fff !important;
        display: inline !important;
    }
}

.goal-indicators {
    div{
        span {
            border-color: #e57908 !important;
            color: #e57908 !important;
        }
    }
}

//sharpen the resized images Chrome

img {
    transform: translateZ(0px);
}

/*Items to be removed */


.zip-download-container, footer, .disclaimer-alert, .contrast, p.lead-copy, ol.breadcrumb, div#chartSelectionDownload a, span.hidden-sm.hidden-md.hidden-lg {
        display: none !important;
    }

div#main-content {

    & > p {
        display: none;
    }

    h2 {
        display: none;
    }
}

//translation css issues

html:lang(sr) {
    #main-content h1 {
        font-size: 55px;
    }
}

html:lang(hr),html:lang(bs)  {
    #main-content h1 {
        font-size: 59px;
    }
}

@media (min-width: $bp-tablet + 1px) {

}

@media (max-width: $bp-tablet) {


    .layout-goal-by-target {
        h1 {
            font-size: 30px;
            padding: 10px 0 0;
        }
    }

    html:lang(sr){
        .layout-goal-by-target {
            h1 {
                font-size: 26px;
            }
        }
    }

    .layout-indicator h1 {
        font-size: 25px;
        line-height: 1.3 !important;
        padding: 10px 0 0;
    }

    header .container {
        padding-top: 0;
    }

    .mobile-widgets {
        position: static !important;

        .dropdown-menu {
            left: -50px;
        }
    }

    
    .navbar-brand {
        display: block;
        width: 69%;
    }

    .navbar .top-level {

        & > li {
            width: 100%;
            max-width: 100%;
        }

        li:not(.contrast) > a:hover {
            border-bottom: 2px solid #ffffff !important;
        }
    }

    .logo-and-mobile-widgets .mobile-widgets {
        bottom: 20px;
    }

    label.hidden-md.hidden-lg  {
        display: none;
    }

    .layout-frontpage{
        #main-content {
            height: 100%;

        h1 {
            font-size: 40px !important;
            }
        }

        .col-xs-6 {
            min-height: 220px;
        }

    }

    .logo-and-mobile-widgets {
        min-height: 140px;
    }

    #search {
        width: 805px;
    }

}

@media (max-width: 768px) {

    
    #main-nav .active {
        button, #menu-mobile, a {
            color: #fff !important;
            background: $blue !important;
        }
    }

    .navbar{
        ul.top-level {

            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .nav-link {
                text-align: center;

                a {
                    padding: 8px 0 !important;
                    background-color: $blue !important;
                }

            }
            .active a {
                font-weight: normal !important;
                border: unset !important;
            }
        }

        #menu-mobile {
            display: block !important;
            width: 100%;
            background-color: $blue !important;
            margin-bottom: 10px !important;

        }
        #search-mobile {
            display: block !important;
            max-width: 100%;
            background-color: $blue !important;
            padding: 10px 0px 10px 10px;

            form {
                margin: 0;
            }
    
            button {
                background-color: $blue !important;
                border: 1.25px solid #fff !important;
            }
    
            input#indicator_search-mobile {
                border-color: #fff;
                outline: unset !important;
            }
    
        }
    }

}