$bp-tablet: 768px;
$blue: #5B92E5;
$yellow: #ffcc29;


body {
    background: #fff;
}

.navbar-brand {
    display: block;
    width: 75%;
    max-width: 310px;
}

@media (min-width: $bp-tablet + 1px) {

}

@media (max-width: $bp-tablet) {
    header .container {
        padding-top: 0;
    }

    .navbar-brand {
        display: block;
        width: 69%;
    }

    .logo-and-mobile-widgets .mobile-widgets {
        bottom: 20px;
    }
}

#main-content {

    h1 {
        font-size: 36px;
        margin-bottom: 35px;
        border-bottom: 2px solid #009dda;
        padding-bottom: 15px;
        max-width: max-content;
    }

    .goal-tiles {
        .no-gutters {
            img:not(#goal-18) {
                box-shadow: 1px 5px 5px 0px rgba(5, 5, 5, 0.3);
                transition: all 150ms ease-in-out;
            }

            img:not(#goal-18):hover {
                box-shadow: 0px 5px 10px 0px rgba(5, 5, 5, 0.6);
                -webkit-transform: translate(0, -4px);
                transform: translate(0, -4px);
                -webkit-transition: all 150ms ease-in-out;
                -moz-transition: all 150ms ease-in-out;
                -ms-transition: all 150ms ease-in-out;
                -o-transition: all 150ms ease-in-out;
                transition: all 150ms ease-in-out;
            }
        }
    }
}

.breadcrumb {
    margin-top: 15px;
}

header {
    
#main-nav {
    background: $blue;
    width: 100%;
    border-radius: 0;
    padding: 15px 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
    .navbar-brand {
        display: block;
        max-width: 170px;
    }

    .navbar ul.navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: $yellow;
        }
    }

    .navbar ul.navbar-nav > li.active > a {
        border-bottom: 2px solid $yellow;
        color: $yellow;
 
    }

    ul#menu {
        width: 100%;
    }

    .menu-target {
        width: 300px;
        margin: 0 !important;
    }

    #search form {
        margin-top: 0;
    }

    .dropdown-toggle {
        background: $blue !important;
        color: #fff;
        text-transform: uppercase;
        
        &:hover {
            color: $yellow;
        }
    }

    #search-btn {
        background: #fff;
        color: $blue;
        border: unset;
    }

    #search input {
        border: unset;
        max-width: 200px;
    }

}

//main icons
.goal-tiles {
    & > div {
        &:after {
            position: absolute;
            bottom: -40px;
            left: 48%;
            font-size: 20px;
            text-transform: uppercase;
            transform: translateX(-50%);
        }

        &:nth-child(1):after {
            content: "Population";
        }
        &:nth-child(2):after {
            content: "Population Projection";
        }
        &:nth-child(3):after {
            content: "Health";
        }
        &:nth-child(4):after {
            content: "Violence";
        }
        &:nth-child(5):after {
            content: "Education";
        }
        &:nth-child(6):after {
            content: "Economic, Povery and Activity";
        }
    }
}


//sharpen the resized images Chrome

img {
    transform: translateZ(0px);
}

/*This to remove */

.site-intro.spacer.medium, .zip-download-container, footer, .goal-tiles .row:not(:first-child), .disclaimer-alert, .contrast {
    display: none !important;
}

