$bp-tablet: 768px;
$blue: #5B92E5;
$yellow: #ffcc29;


body {
    background: #fff;
    background: url(https://popdata.work/assets/img/other/popbg.jpg);
    background-size: cover;
}

.navbar-brand {
    display: block;
    width: 75%;
    max-width: 310px;
}

@media (min-width: $bp-tablet + 1px) {

}

@media (max-width: $bp-tablet) {
    header .container {
        padding-top: 0;
    }

    .navbar-brand {
        display: block;
        width: 69%;
    }

    .logo-and-mobile-widgets .mobile-widgets {
        bottom: 20px;
    }
}

#main-content {

    background: transparent;

    h1 {
        font-size: 90px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 35px;
        margin: 0 0 100px;
    }

    .goal-tiles {

        margin-bottom: 150px;
        
        .no-gutters {
            img:not(#goal-18) {
                transition: all 150ms ease-in-out;
                box-shadow: unset !important;
            }

            img:not(#goal-18):hover {
                -webkit-transform: translate(0, -4px);
                transform: translate(0, -4px);
                -webkit-transition: all 150ms ease-in-out;
                -moz-transition: all 150ms ease-in-out;
                -ms-transition: all 150ms ease-in-out;
                -o-transition: all 150ms ease-in-out;
                transition: all 150ms ease-in-out;
            }
        }
    }
}

.breadcrumb {
    margin-top: 15px;
}

header {

    position: relative;

    &:before {
        content: "";
        background: #5b92e5;
        height: 80px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 32px;
        display: block;
    }
    
#main-nav {
    background: $blue;
    width: 100%;
    border-radius: 0;
    padding: 15px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
    .navbar-brand {
        display: block;
        max-width: 170px;
    }

    .navbar ul.navbar-nav > li > a {
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: $yellow;
        }
    }

    .navbar ul.navbar-nav > li.active > a {
        border-bottom: 2px solid $yellow;
        color: $yellow;
 
    }

    ul#menu {
        width: 100%;
    }

    .menu-target {
        width: 585px;
        margin: 0 !important;
    }

    #search form {
        margin-top: 0;
    }

    .dropdown-toggle {
        background: $blue !important;
        color: #fff;
        text-transform: uppercase;
        
        &:hover {
            color: $yellow;
        }
    }

    #search-btn {
        background: #fff;
        color: $blue;
        border: unset;
    }

    #search input {
        border: unset;
        max-width: 200px;
    }

    .language-toggle-menu-header {
        position: absolute;
        right: 5px;
    }

    .language-toggle-dropdown:before {
        content: "";
        height: 50px;
        width: 2px;
        background: #ffffffad;
        position: absolute;
        left: -17px;
        top: -9px;
    }

}



.site-intro {
    background: unset;
}

//main icons
.goal-tiles {
    & > div div {
        &:after {
            position: absolute;
            bottom: -40px;
            left: 48%;
            font-size: 20px;
            text-transform: uppercase;
            transform: translateX(-50%);
            text-align: center;
            width: 190px;
        }

        &:nth-child(1):after {
            content: "Population";
        }
        &:nth-child(2):after {
            content: "Population Projection";
            bottom: -67px;
        }
        &:nth-child(3):after {
            content: "Health";
        }
        &:nth-child(4):after {
            content: "Violence";
        }
        &:nth-child(5):after {
            content: "Education";
        }
        &:nth-child(6):after {
            content: "Economic, Povery and Activity";
            bottom: -95px;
        }
    }

    img {
        background: transparent !important;
    }
}

.goal-1.goal-banner {
    background-color: transparent;
}


//sharpen the resized images Chrome

img {
    transform: translateZ(0px);
}

/*Items to be remove */

.zip-download-container, footer, .goal-tiles .row:not(:first-child), .disclaimer-alert, .contrast, p.lead-copy, ol.breadcrumb {
    display: none !important;
    }

div#main-content {

    & > p {
        display: none;
    }

    h2 {
        display: none;
    }
}
