<div id="serieses"></div>
<div class="pyramid-units">
      <h4 class="census-pyramid">{{ page.t.data.census_pyramid }}</h4>
      <h4 class="projection-pyramid">{{ page.t.data.projection_pyramid }}</h4>
</div>
<div id="units"></div>
<div id="toolbar">
  <span id="series-help">
    <h4>{{ page.t.indicator.sub_categories }}</h4>
    <p>{{ page.t.indicator.series_help }}</p>
  </span>
  <div id="fields">
    <p class="async-loading" data-img="{{ site.baseurl }}/assets/img/loading-small.gif"></p>
  </div>
</div>
